#container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container1 {
  height: 1100px;
  width: 600px;
  background-color: black;
  margin-top: 100px;
  border-radius: 100px;
}
#numbers {
  height: 30%;
  width: 600px;
  position: relative;
  top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: end;
  overflow: hidden;
}
#input {
  height: 300px;
  width: 100%;
  font-size: 70px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  overflow: hidden;
  padding-right: 50px;
}
#result {
  height: 500px;
  width: 100%;
  font-size: 150px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  overflow: hidden;
  padding-right: 50px;
}
#buttons {
  /* background-color: gray; */
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#first {
  display: flex;
  justify-content: space-evenly;
}
#first-one {
  background-color: gray;
  font-size: 50px;
}
#remove {
  color: white;
}
/* #icon {
  font-size: 50px;
  color: white;
} */
#first-two {
  background-color: gray;
  font-size: 50px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
#first-three {
  background-color: gray;
  font-size: 50px;
  color: white;
}
#first-four {
  background-color: orange;
  font-size: 50px;
  color: white;
}
.one {
  height: 130px;
  width: 130px;
  border-radius: 9999px;
  border: none;
  font-size: 50px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
#second {
  display: flex;
  justify-content: space-evenly;
}
#second-one {
  background-color: rgb(58, 58, 58);
}
#second-two {
  background-color: rgb(58, 58, 58);
}
#second-three {
  background-color: rgb(58, 58, 58);
}
#second-four {
  background-color: orange;
  font-size: 50px;
  color: white;
}
#third {
  display: flex;
  justify-content: space-evenly;
}
#third-one {
  background-color: rgb(58, 58, 58);
}
#third-two {
  background-color: rgb(58, 58, 58);
}
#third-three {
  background-color: rgb(58, 58, 58);
}
#third-four {
  background-color: orange;
  font-size: 50px;
  color: white;
}
#fourth {
  display: flex;
  justify-content: space-evenly;
}
#fourth-one {
  background-color: rgb(58, 58, 58);
}
#fourth-two {
  background-color: rgb(58, 58, 58);
}
#fourth-three {
  background-color: rgb(58, 58, 58);
}
#fourth-four {
  background-color: orange;
  font-size: 50px;
  color: white;
}
#fifth {
  display: flex;
  justify-content: space-evenly;
}
#fifth-one {
  background-color: rgb(58, 58, 58);
}
#fifth-two {
  background-color: rgb(58, 58, 58);
}
#fifth-three {
  background-color: rgb(58, 58, 58);
}
#fifth-four {
  background-color: orange;
  font-size: 50px;
  color: white;
}
