#container {
  background-color: #2d123b;
  width: 700px;
  height: 400px;
  display: flex;
  row-gap: 30px;
  color: white;
  align-items: center;
  border-radius: 30px;
  flex-direction: column;
  justify-content: center;
}
#text {
  font-size: 18px;
}
#timer {
  font-size: 100px;
}
#buttons {
  display: flex;
  gap: 20px;
}
#start {
}
#stop {
}
#reset {
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.words {
  font-family: Arial, Helvetica, sans-serif;
}
.words1 {
  font-family: Arial, Helvetica, sans-serif;
  width: 130px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 9999px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.words1:hover {
  background-color: rgb(218, 105, 189);
  transition: all 0.2s ease-in;
  color: white;
}
